body {
  background-color: antiquewhite;
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: center;
  text-align: center !important;
}

#container {
  width: 80%;
  margin: 40px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h1 {
  color: #000000;
}


#category-btn {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
}

.category-btn {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
}

.category-btn:hover {
  background-color: #a1870f;
}

#random-joke {
    width: 80%;
    height: 200px;
    background-color: antiquewhite;
    margin: 20px auto;
    border-radius: 25px;
    border: 1px solid black;
}

.jokeDiv{
  border: 1px solid black;
  background-color: antiquewhite;
  margin: 10px;
}

#add-joke{
      width: 80%;
    height: 200px;
    background-color: antiquewhite;
    margin: 20px auto;
    border-radius: 25px;
    border: 1px solid black;
}

#add-joke label, input {   
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

